@{
    ViewData["Title"] = "Doktor Paneli";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        <header class="text-center extra-margin" ">
            <h1>Merhaba, DR.  @ViewData["DoctorName"]</h1>
        </header>
        <div class="row">
            <div class="col-md-3">
                <!-- Butonları sol tarafa hizala -->
                <div class="d-flex flex-column">
                    <a class="btn btn-secondary mb-2" href="/Appointments/Index">Randevu Görüntüle</a>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" style="margin-top: 40px;">
                        <button type="submit" class="btn btn-danger mb-1">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
