@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1 style="margin-top: 40px;">Hello, Dear Manager</h1>
    <div class="row">
        <div class="col-md-3">
            <!-- Butonları sol tarafa hizala -->
            <div class="d-flex flex-column" style="margin-top: 45px;">
                <a class="btn btn-primary mb-2" href="/Appointments/Index">View Appointments</a>
                <a class="btn btn-primary mb-2" href="/Appointments/SearchByNationalId">Search Filtering (National Id)</a>
                <a class="btn btn-primary mb-2" href="/Doctors/Index">Doctors List</a>
                <a class="btn btn-primary mb-2" href="/Patients/Index">Patients List</a>
                <a class="btn btn-primary mb-2" href="/Departments/Create">Add a New Service</a>


                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" style="margin-top: 40px;">
                    <button type="submit" class="btn btn-danger mb-1">Logout</button>
                </form>
            </div>
        </div>
    </div>
}


